<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Diet</title>

	<link rel="stylesheet" href="assets/fonts/fontello/css/fontello.css">
	<link rel="stylesheet" href="assets/css/monalisa.min.css">
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body>

	<div class="container" id="app">
		<div class="Row _gutters">
			<!-- Conteudo -->
			<div class="col _col-9">
				<!-- Total -->
				<table class="Table">
					<tbody>
						<tr>
							<td class="_align-middle">
								<h2 class="_mb0">Cardápio</h2>
							</td>
							<td class="_tar _w10">
								<b>Calorias</b><br> 
								<small>{{ totalCalorias }} kcal<br> 0%</small>
							</td>
							<td class="_tar _w10">
								<b>Carb</b><br> 
								<small>{{ totalCarb }}g<br> 0%</small>
							</td>
							<td class="_tar _w10">
								<b>Prot</b><br> 
								<small>{{ totalProt }}g<br> 0%</small>
							</td>
							<td class="_tar _w10">
								<b>Gord</b><br> 
								<small>{{ totalGord }}g<br> 0%</small>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Cardapios -->
				<table class="Table _bordered" v-for="cardapio in cardapios">
					<tbody>
						<tr>
							<td class="_align-middle" colspan="2">
								<h4 class="_mb0">
									<span contenteditable>{{ cardapio.nome }}</span>
									<button class="Button _mini"><i class="icon-trash"></i></button>
								</h4>
							</td>
							<td class="_tar _w10">
								<b>Calorias</b><br> 
								<small>{{ cardapio.totalCalorias }} kcal</small>
							</td>
							<td class="_tar _w10">
								<b>Carb</b><br> 
								<small>{{ cardapio.totalCarb }}g</small>
							</td>
							<td class="_tar _w10">
								<b>Prot</b><br> 
								<small>{{ cardapio.totalProt }}g</small>
							</td>
							<td class="_tar _w10">
								<b>Gord</b><br> 
								<small>{{ cardapio.totalGord }}g</small>
							</td>
						</tr>

						<tr class="_align-middle" v-for="alimento in cardapio.alimentos">
							<td>
								{{ alimento.nome }}
								<button class="Button _mini"><i class="icon-trash"></i></button>
							</td>
							<td class="_w10"><input type="number" min="0" placeholder="qtd" v-model="alimento.qtd"></td>
							<td class="_tar">{{ alimento.kcal * alimento.qtd }} kcal</td>
							<td class="_tar">{{ alimento.carb * alimento.qtd }}g</td>
							<td class="_tar">{{ alimento.prot * alimento.qtd }}g</td>
							<td class="_tar">{{ alimento.gord * alimento.qtd }}g</td>
						</tr>

						<tr>
							<td colspan="6">
								<a href="#">Adicionar alimento</a>
							</td>
						</tr>
					</tbody>
				</table>

				<a class="Button" href="#">Adicionar refeição</a>
			</div>

			<!-- Perfil -->
			<div class="col _col-3">
				<h2>Perfil</h2>
				<form class="Form">
					<div class="form-item">
						<label>Idade</label>
						<div>
							<input type="number" min="0" v-model="perfil.idade">
						</div>
					</div>

					<div class="form-item">
						<label>Peso (kg)</label>
						<div>
							<input type="number" min="0" v-model="perfil.peso">
						</div>
					</div>

					<div class="form-item">
						<label>Altura (cm)</label>
						<div>
							<input type="number" min="0" v-model="perfil.altura">
						</div>
					</div>

					<div class="form-item">
						<label>Sexo</label>
						<div>
							<select v-model="perfil.genero">
								<option value="m">Masculino</option>
								<option value="f">Feminino</option>
							</select>
						</div>
					</div>

					<div class="form-item">
						<label>Nível de atividade física</label>
						<div>
							<select v-model="perfil.atividade">
								<option value="sedentario">Sedentário</option>
								<option value="esporadico">Exercícios esporádicos</option>
								<option value="resistencia">Exercícios de resistência</option>
								<option value="mistos">Exercícios mistos</option>
								<option value="forca">Exercícios de força</option>
							</select>
						</div>
					</div>

					<div class="form-item">
						<label>Objetivo</label>
						<div>
							<select v-model="perfil.objetivo">
								<option value="perder">Perder peso</option>
								<option value="manter">Manter o peso</option>
								<option value="ganhar">Ganhar peso</option>
							</select>
						</div>
					</div>
				</form>

				<!-- Tabela resumo -->
				<table class="Table _bordered">
					<tbody>
						<tr>
							<td class="_w70"><b>TMB</b></td>
							<td class="_w30 _tar">{{ calorias.tmb }} kcal</td>
						</tr>

						<tr>
							<td><b>Total necessário</b></td>
							<td class="_tar">{{ calorias.necessario }} kcal</td>
						</tr>

						<tr>
							<td><b>Meta</b></td>
							<td class="_tar">{{ calorias.meta }} kcal</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		const fatores = {
			kcalTmbParaNecessarias: {
				sedentario: 1.2,
				esporadico: 1.375,
				resistencia: 1.5,
				mistos: 1.725,
				forca: 1.9
			},

			kcalNecessariasParaMeta: {
				perder: 0.75,
				manter: 1,
				ganhar: 1.25
			},

			proteinaParaGramas: {
				sedentario: 0.8,
				esporadico: 1,
				resistencia: 1.6,
				mistos: 1.7,
				forca: 2,
			}
		};

		var app = new Vue({

			el: '#app',

			data: {
				perfil: {
					idade: 0,
					peso: 0,
					altura: 0,
					genero: 'm',
					atividade: 'sedentario',
					objetivo: 'manter'
				},

				cardapios: [
					{
						nome: 'Café',
						totalCalorias: 0,
						totalCarb: 0,
						totalProt: 0,
						totalGord: 0,
						alimentos: [
							{
								nome: 'Maçã',
								qtd: 1,
								kcal: 199,
								carb: 10,
								prot: 10,
								gord: 10
							},
							{
								nome: 'Banana',
								qtd: 1,
								kcal: 199,
								carb: 20,
								prot: 20,
								gord: 20
							}
						]
					}
				],

				totalCalorias: 0,
				totalCarb: 0,
				totalProt: 0,
				totalGord: 0,
			},

			computed: {
				calorias: function() {
					let peso           = this.perfil.peso;
					let altura         = this.perfil.altura;
					let idade          = this.perfil.idade;
					let genero         = this.perfil.genero;
					let atividade      = this.perfil.atividade;
					let objetivo       = this.perfil.objetivo;
					let fatorAtividade = fatores.kcalTmbParaNecessarias[atividade];
					let fatorObjetivo  = fatores.kcalNecessariasParaMeta[objetivo];
					let fatorTmb       = (genero == 'm') ? 5 : -161;
					let tmb            = 0;
					let necessario     = 0;
					let meta           = 0;

					if (peso && altura && idade) {
						tmb        = (10 * peso) + (6.25 * altura) - (5 * idade) + fatorTmb;
						tmb        = Math.round(tmb);
						necessario = Math.round(tmb * fatorAtividade);
						meta       = Math.round(necessario * fatorObjetivo)
					}

					return {
						tmb: tmb,
						necessario: necessario,
						meta: meta
					}
				},

				meta: function() {
					let carb          = 0;
					let prot          = 0;
					let gord          = 0;
					let metaCalorias  = this.calorias.meta;
					let peso          = this.perfil.peso;
					let atividade     = this.perfil.atividade;
					let fatorProteina = fatores.proteinaParaGramas[atividade];

					if (metaCalorias) {
						prot = Math.round(peso * fatorProteina);
						gord = Math.round(peso * 1);
					}

					return {
						carb: carb,
						prot: prot,
						gord: gord,
					}
				}
			},

			methods: {
			}

		});
	</script>
</body>
</html>