<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Diet</title>

	<link rel="stylesheet" href="assets/fonts/fontello/css/fontello.css">
	<link rel="stylesheet" href="assets/css/monalisa.min.css">
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body>

	<div class="container" id="app">
		<div class="Row _gutters">
			<!-- Conteudo -->
			<div class="col _col-9">
				<!-- Total -->
				<table class="Table">
					<tbody>
						<tr>
							<td class="_align-middle">
								<h2 class="_mb0">Cardápio</h2>
							</td>
							<td class="_tar _w10">
								<b>Calorias</b><br> 
								<small>{{ totalKcal }} kcal<br> {{ percentuais.kcal }}%</small>
							</td>
							<td class="_tar _w10">
								<b>Carb</b><br> 
								<small>{{ totalCarb }}g<br> {{ percentuais.carb }}%</small>
							</td>
							<td class="_tar _w10">
								<b>Gord</b><br> 
								<small>{{ totalGord }}g<br> {{ percentuais.gord }}%</small>
							</td>
							<td class="_tar _w10">
								<b>Prot</b><br> 
								<small>{{ totalProt }}g<br> {{ percentuais.prot }}%</small>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Cardapios -->
				<table class="Table _bordered" v-for="refeicao, keyRefeicao in refeicoes">
					<tbody>
						<tr>
							<td class="_align-middle" colspan="2">
								<h4 class="_mb0">
									<span contenteditable>{{ refeicao.nome }}</span>
									<button class="Button _mini" @click="removerRefeicao(keyRefeicao)"><i class="icon-trash"></i></button>
								</h4>
							</td>
							<td class="_tar _w10">
								<b>Calorias</b><br> 
								<small>{{ refeicao.totalKcal }} kcal</small>
							</td>
							<td class="_tar _w10">
								<b>Carb</b><br> 
								<small>{{ refeicao.totalCarb }}g</small>
							</td>
							<td class="_tar _w10">
								<b>Gord</b><br> 
								<small>{{ refeicao.totalGord }}g</small>
							</td>
							<td class="_tar _w10">
								<b>Prot</b><br> 
								<small>{{ refeicao.totalProt }}g</small>
							</td>
						</tr>

						<tr class="_align-middle" v-for="alimento, keyAlimento in refeicao.alimentos">
							<td>
								{{ alimento.nome }}
								<button class="Button _mini" @click="removerAlimento(keyRefeicao, keyAlimento)"><i class="icon-trash"></i></button>
							</td>
							<td class="_w10"><input type="number" min="0" placeholder="qtd" v-model.number="alimento.qtd" @change="somaTudo"></td>
							<td class="_tar">{{ alimento.kcal * alimento.qtd }} kcal</td>
							<td class="_tar">{{ alimento.carb * alimento.qtd }}g</td>
							<td class="_tar">{{ alimento.gord * alimento.qtd }}g</td>
							<td class="_tar">{{ alimento.prot * alimento.qtd }}g</td>
						</tr>

						<tr>
							<td colspan="6">
								<a href="#" @click.prevent="showModalAdicionarAlimento(keyRefeicao)">Adicionar alimento</a>
							</td>
						</tr>
					</tbody>
				</table>

				<a class="Button" href="#" @click.prevent="showModalAdicionarRefeicao">Adicionar refeição</a>
			</div>

			<!-- Perfil -->
			<div class="col _col-3">
				<h2>Perfil</h2>
				<form class="Form">
					<div class="form-item">
						<label>Idade</label>
						<div>
							<input type="number" min="0" v-model="perfil.idade">
						</div>
					</div>

					<div class="form-item">
						<label>Peso (kg)</label>
						<div>
							<input type="number" min="0" v-model="perfil.peso">
						</div>
					</div>

					<div class="form-item">
						<label>Altura (cm)</label>
						<div>
							<input type="number" min="0" v-model="perfil.altura">
						</div>
					</div>

					<div class="form-item">
						<label>Sexo</label>
						<div>
							<select v-model="perfil.genero">
								<option value="m">Masculino</option>
								<option value="f">Feminino</option>
							</select>
						</div>
					</div>

					<div class="form-item">
						<label>Nível de atividade física</label>
						<div>
							<select v-model="perfil.atividade">
								<option value="sedentario">Sedentário</option>
								<option value="esporadico">Exercícios esporádicos</option>
								<option value="resistencia">Exercícios de resistência</option>
								<option value="mistos">Exercícios mistos</option>
								<option value="forca">Exercícios de força</option>
							</select>
						</div>
					</div>

					<div class="form-item">
						<label>Objetivo</label>
						<div>
							<select v-model="perfil.objetivo">
								<option value="perder">Perder peso</option>
								<option value="manter">Manter o peso</option>
								<option value="ganhar">Ganhar peso</option>
							</select>
						</div>
					</div>
				</form>

				<!-- Tabela resumo -->
				<table class="Table _bordered">
					<tbody>
						<tr>
							<td class="_w70"><b>TMB</b></td>
							<td class="_w30 _tar">{{ calorias.tmb }} kcal</td>
						</tr>

						<tr>
							<td><b>Total necessário</b></td>
							<td class="_tar">{{ calorias.necessario }} kcal</td>
						</tr>

						<tr>
							<td><b>Meta</b></td>
							<td class="_tar">{{ metas.kcal }} kcal</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Modals -->
		<div class="Modals" v-if="showAdicionarRefeicao || showAdicionarAlimento">
			<!-- Adicionar cardapio -->
			<div class="modal adicionar-cardapio" v-if="showAdicionarRefeicao">
				<h2>Adicionar refeição</h2>
				<form class="Form" @submit.prevent="adicionarRefeicao">
					<div class="form-item">
						<label>Nome da refeição</label>
						<div>
							<input type="text" v-model.trim="modelRefeicao.nome" required>
						</div>
					</div>

					<button class="Button" type="submit">Adicionar</button>
					<button class="Button _secondary" @click.prevent="hideModal('Refeicao')">Cancelar</button>
				</form>
			</div>

			<!-- Adicionar alimento -->
			<div class="modal adicionar-alimento" v-if="showAdicionarAlimento">
				<h2>Adicionar alimento</h2>
				<form class="Form" @submit.prevent="adicionarAlimento">

					<div class="form-item">
						<label>Nome do alimento</label>
						<div>
							<input type="text" v-model.trim="modelAlimento.nome" required>
						</div>
					</div>

					<div class="Row _gutters _auto">
						<div class="col">
							<div class="form-item">
								<label>Calorias</label>
								<div>
									<input type="number" v-model.number="modelAlimento.kcal" required>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="form-item">
								<label>Carb</label>
								<div>
									<input type="number" v-model.number="modelAlimento.carb" required>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="form-item">
								<label>Gord</label>
								<div>
									<input type="number" v-model.number="modelAlimento.gord" required>
								</div>
							</div>
						</div>
						
						<div class="col">
							<div class="form-item">
								<label>Prot</label>
								<div>
									<input type="number" v-model.number="modelAlimento.prot" required>
								</div>
							</div>
						</div>
					</div>

					<button class="Button" type="submit">Adicionar</button>
					<button class="Button _secondary" @click.prevent="hideModal('Alimento')">Cancelar</button>
				</form>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		function cloneObj(obj) {
			if (typeof obj === 'object') {
				return JSON.parse(JSON.stringify(obj));
			} else {
				return {};
			}
		}

		const fatores = {
			kcalTmbParaNecessarias: {
				sedentario: 1.2,
				esporadico: 1.375,
				resistencia: 1.5,
				mistos: 1.725,
				forca: 1.9
			},

			kcalNecessariasParaMeta: {
				perder: 0.75,
				manter: 1,
				ganhar: 1.25
			},

			proteinaParaGramas: {
				sedentario: 0.8,
				esporadico: 1,
				resistencia: 1.6,
				mistos: 1.7,
				forca: 2,
			}
		};

		const modelRefeicao = {
			nome: '',
			totalKcal: 0,
			totalCarb: 0,
			totalProt: 0,
			totalGord: 0,
			alimentos: []
		};

		const modelAlimento = {
			nome: 'Maçã',
			qtd: 1,
			kcal: 199,
			carb: 10,
			prot: 10,
			gord: 10
		};

		var app = new Vue({

			el: '#app',

			data: {
				showAdicionarRefeicao: false,
				showAdicionarAlimento: false,

				modelRefeicao: {},
				modelAlimento: {},

				currentKey: null,

				perfil: {
					idade: 0,
					peso: 0,
					altura: 0,
					genero: 'm',
					atividade: 'sedentario',
					objetivo: 'manter'
				},

				refeicoes: [],

				totalKcal: 0,
				totalCarb: 0,
				totalProt: 0,
				totalGord: 0,
			},

			computed: {
				calorias: function() {
					let peso           = this.perfil.peso;
					let altura         = this.perfil.altura;
					let idade          = this.perfil.idade;
					let genero         = this.perfil.genero;
					let atividade      = this.perfil.atividade;
					let fatorAtividade = fatores.kcalTmbParaNecessarias[atividade];
					let fatorTmb       = (genero == 'm') ? 5 : -161;
					let tmb            = 0;
					let necessario     = 0;
					let meta           = 0;

					if (peso && altura && idade) {
						tmb        = (10 * peso) + (6.25 * altura) - (5 * idade) + fatorTmb;
						tmb        = Math.round(tmb);
						necessario = Math.round(tmb * fatorAtividade);
					}

					return {
						tmb: tmb,
						necessario: necessario,
						meta: meta
					}
				},

				metas: function() {
					let kcal            = 0;
					let carb            = 0;
					let prot            = 0;
					let gord            = 0;
					let peso            = this.perfil.peso;
					let atividade       = this.perfil.atividade;
					let objetivo        = this.perfil.objetivo;
					let kcalNecessarias = this.calorias.necessario;
					let fatorObjetivo   = fatores.kcalNecessariasParaMeta[objetivo];
					let fatorProteina   = fatores.proteinaParaGramas[atividade];

					if (kcalNecessarias) {
						kcal = Math.round(kcalNecessarias * fatorObjetivo);
						prot = Math.round(peso * fatorProteina);
						gord = Math.round(peso * 1);
						carb = Math.round( (kcal - ((prot * 4) + (gord * 9))) / 4 );
					}

					return {
						kcal: kcal,
						carb: carb,
						prot: prot,
						gord: gord,
					}
				},

				percentuais: function() {
					let kcal = 0;
					let carb = 0;
					let prot = 0;
					let gord = 0;

					if (this.metas.kcal) {
						kcal = Math.round((this.totalKcal / this.metas.kcal) * 100);
						carb = Math.round((this.totalCarb / this.metas.carb) * 100);
						prot = Math.round((this.totalProt / this.metas.prot) * 100);
						gord = Math.round((this.totalGord / this.metas.gord) * 100);
					}

					return {
						kcal: kcal,
						carb: carb,
						prot: prot,
						gord: gord,
					}
				}
			},

			methods: {
				showModal: function(modal) {
					this['showAdicionar' + modal] = true;
					document.documentElement.style.overflow = 'hidden';
				},

				showModalAdicionarRefeicao: function() {
					this.showModal('Refeicao');
				},
				
				showModalAdicionarAlimento: function(keyRefeicao) {
					this.currentKey = keyRefeicao;
					this.showModal('Alimento');	
				},

				hideModal: function(event, modal) {
					this['showAdicionar' + modal] = false;
					document.documentElement.style.overflow = 'auto';
				},

				adicionarRefeicao: function() {
					this.refeicoes.push(this.modelRefeicao);
					this.hideModal(null, 'Refeicao');
					this.modelRefeicao = cloneObj(modelRefeicao);
				},

				adicionarAlimento: function() {
					let key = this.currentKey;
					this.refeicoes[key].alimentos.push(this.modelAlimento);
					this.hideModal(null, 'Alimento');
					this.modelAlimento = cloneObj(modelAlimento);
					this.somaTudo();
				},

				removerRefeicao: function(keyRefeicao) {
					this.refeicoes.splice(keyRefeicao, 1);
					this.somaTudo();
				},

				removerAlimento: function(keyRefeicao, keyAlimento) {
					this.refeicoes[keyRefeicao].alimentos.splice(keyAlimento, 1);
					this.somaTudo();
				},

				somaTudo: function() {
					let totalKcal = 0;
					let totalCarb = 0;
					let totalProt = 0;
					let totalGord = 0;

					for (keyRefeicao in this.refeicoes) {
						let refeicao = this.refeicoes[keyRefeicao];
						refeicao.totalKcal = 0;
						refeicao.totalCarb = 0;
						refeicao.totalProt = 0;
						refeicao.totalGord = 0;

						for (keyAlimento in refeicao.alimentos) {
							let alimento = refeicao.alimentos[keyAlimento];
							let qtd = alimento.qtd;
							let kcal = alimento.kcal;
							let carb = alimento.carb;
							let prot = alimento.prot;
							let gord = alimento.gord;

							refeicao.totalKcal += kcal * qtd;
							refeicao.totalCarb += carb * qtd;
							refeicao.totalProt += prot * qtd;
							refeicao.totalGord += gord * qtd;
						}

						totalKcal += refeicao.totalKcal;
						totalCarb += refeicao.totalCarb;
						totalProt += refeicao.totalProt;
						totalGord += refeicao.totalGord;
					}

					this.totalKcal = totalKcal;
					this.totalCarb = totalCarb;
					this.totalProt = totalProt;
					this.totalGord = totalGord;
				}
			},

			mounted: function () {
				this.modelRefeicao = cloneObj(modelRefeicao);
				this.modelAlimento = cloneObj(modelAlimento);
			}

		});
	</script>
</body>
</html>