/* Body */
._blocked {
    overflow: hidden;
}

/* Container */
.container {
	width: 90%;
	margin: 20px auto;
}

/* Form */
.Form {
	margin-bottom: 0;
}

/* Buttons */
.Button._mini {
	background: #eee;
	color: #666;
	padding: 0 4px;
	height: 24px;
	font-size: 10px;
}

/* Modals */
.Modals {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

.Modals .modal {
	width: 520px;
	padding: 40px;
	background: #fff;
}

